* {
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: green;
}

footer {
  padding: 20px;
  color: white;
  background-color: aqua;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profil header {
  text-align: center;
}

.gambar {
  width: 100%;
  max-height: 400px;
}

#gambar {
  width: 100%;
  max-height: 500px;
}

.profil-img {
  max-width: 150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 50px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  position: sticky;
  top: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

header {
  display: inline;
}

#informasi {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.profil {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }
}
